# Delphi / RAD Studio
__history/
*.identcache
*.local
*.dsk
*.stat
*.res
*.dproj.local
*.groupproj.local
*.deployproj
*.tvsconfig

# Compilados
Win32/
Win64/
Debug/
Release/
*.exe
*.dll
*.bpl
*.dcp
*.dcu
*.map
*.tds
*.rsm
*.hpp
*.obj
*.o

# Boss
modules/
server/modules/
client/modules/

# Config local
config.ini

# Banco / dumps
*.backup
*.dump
*.sql.tmp

# Logs
*.log

# IDEs
.vscode/
.idea/

# Temporários
*.tmp
*.bak
*.old